$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$border-radius: 1em;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

html, body {
    min-height: 100vh;
}

body {
    display: grid;
    place-items: center;
    background-color: $light-gray;
    font-size: 15px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
}
  
main{
    @include flex-column;

    .qr-container {
        @include flex-column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        width: 21em;
        text-align: center;
        border-radius: $border-radius;
        padding: 1em 1em 2em 1em;
        gap: 1em;
        margin-bottom: 0.5em;

        img {
            border-radius: $border-radius;
        }

        h1 {
            color: $dark-blue;
            font-weight: 700;
            font-style: bold;
            font-size: 1.2rem;
        }

        p:nth-child(3) {
            color: $grayish-blue;
        }
    }

    footer { 
        font-size: 0.7rem; text-align: center;

        a {
            color: hsl(228, 45%, 44%); 
        }
    }
}